header {
    display: flex;
    gap: .6875rem;
    align-items: center;

    & h3 {
        font: var(--display-medium);
        font-size: 1.5rem;
    }
}


@media (width <= 24.375rem) {
    header{
        display: flex;
        justify-content: center;
    }
}