.logo {
    display: flex;
    gap: .6875rem;
    align-items: center;

    & h3 {
        font: var(--display-medium);
        font-size: 1.5rem;
    }
}

header {
    margin-left: .875rem;
    margin-top: 5.5625rem;

    & small {
        font: var(--overline);
        color: var(--content-secondary);
        display: inline-block;
        margin-bottom: 12px;
    }
}


@media (width <= 24.375rem) {
    .logo{
        display: flex;
        justify-content: center;
    }
}